
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://pp.vk.me/c837636/v837636755/92e6/cYxvaQF-IM8.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans Condensed', sans-serif;
}

form {
  width: 400px;
  padding: 120px 60px;
  padding-top: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
	background-color: rgba(80, 114, 153, .9);
}

input {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 3px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  font-size: 40px;
  border: none;
  outline: none;
  border: 3px solid transparent;
  transition: all .4s ease-out;
  color: #333;
}

input:focus {
  border: 3px solid #465;
}

.input-label {
  width: 100%;
  font-size: 30px;
  color: #fff;
  margin-bottom: 6px;
}

.submit {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 10px 0;
  height: 100px;
  width: 100%;
  margin-top: 30px;
}

a {
  margin-top: 20px;
  display: block;
  padding: 30px;
  text-decoration: none;
  font-size: 50px;
  text-align: center;
  color: #fff;
  background-color: red;
  transition: all ease .6s;
}
a:hover {
  background-color: green;
}

.header {
  color: #fff;
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: bold;
}

.vkr-form {
	transition: all ease-in-out .6s;
	transform: scale(.1);
	opacity: 0;
}

.vkr-form.active {
	transform: scale(1);
	opacity: 1;
}
