
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  padding: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://pp.vk.me/c837636/v837636755/92e6/cYxvaQF-IM8.jpg');
  -webkit-background-size: cover;
  background-size: cover;
	background-repeat: no-repeat;
  font-family: 'Open Sans Condensed', sans-serif;
}

form {
  flex-basis: 300px;
  padding: 20px 20px;
  padding-top: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
	justify-content: center;
	background-color: rgba(80, 114, 153, .9);
}

input {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 3px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 20px;
  font-size: 16px;
  border: none;
  outline: none;
  border: 2px solid transparent;
  transition: all .4s ease-out;
  color: #333;
}

input:focus {
  border: 2px solid #465;
}

.input-label {
	position: relative;
	left: -3px;
  width: 100%;
  font-size: 18px;
  color: #fff;
  margin-bottom: 6px;
}

.submit {
  font-family: 'Open Sans Condensed', sans-serif;
  height: 30px;
  margin-top: 20px;
	transition: all ease-in-out .1s;
}

.submit:hover {
	cursor: pointer;
	background-color: #000;
	color: #fff;
}

a {
  margin-top: 20px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  color: #fff;
  background-color: red;
  transition: all ease .6s;
}
a:hover {
  background-color: green;
}

.header {
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.vkr-form {
	transition: all ease-in-out .6s;
	transform: translateX(-500px);
	opacity: 0;
}

.vkr-form.active {
	transform: translateX(0px);
	opacity: 1;
}

.vkr-list {
	color: #fff;
	background-color: rgba(240, 103, 26, 0.86);
}

.vkr-list-wrapper {
	overflow-y: auto;
	margin-left: 40px;
	max-height: 80vh;
	transition: all ease-in-out .6s;
	transform: translateX(500px);
	opacity: 0;
}

.vkr-list-wrapper.active {
	overflow-y: scroll;
	margin-left: 40px;
	max-height: 80vh;
	transform: translateX(0);
	opacity: 1;
}

.vkr-list-item__main-info {
	background-color: rgba(244, 2, 2, 0.69);
	padding: 16px;
	margin-bottom: 3px;
	user-select: none;
}


.vkr-list-item:last-child {
	margin-bottom: 0;
}

.vkr-list-item:hover {
	cursor: pointer;
}

.vkr-list-item__extra-info {
	display: none;
}

.vkr-list__header {
	padding: 16px;
	font-weight: bold;
}

.vkr-list-item__extra-info-item {
	padding: 12px 16px;
}

.vkr-list-item__extra-info {
	background-color: rgba(231, 158, 35, 0.93);
}

.vkr-list-item__descr {
	background-color: rgba(240, 103, 26, 0.86);
	display: inline-block;
	margin-left: 2px;
	padding: 2px 4px;
}
